const DEFAULT_SLACK_SIGNING_SECRET = '8e4a6590f8c48b8eaa882d09b831e9f5';
const DEFAULT_PORT = 3000;

module.exports = {
    DEFAULT_SLACK_SIGNING_SECRET: DEFAULT_SLACK_SIGNING_SECRET,
    DEFAULT_PORT: DEFAULT_PORT,
};